# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/

# Data artifacts
data/raw/*
data/warehouse/*
!data/raw/.keep
!data/warehouse/.keep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
